@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body{
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo{
  width: 65px;
  margin-top: 15px;
}

.main-nav{
  display: flex;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top:34px ;
  list-style: none;
  font-style: italic;
  font-weight: bold;
}

.main-nav li{
  margin-left: 30px;
}

.main-nav a{
  color: #432;
}

.main-nav a:hover{
  color: #0bd;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper {
  
  padding: 0 2%;
}


















